absl-py==1.4.0
accelerate==0.28.0
addict==2.4.0
aiofiles==22.1.0
aiohttp==3.9.3
aiosignal==1.3.1
aiosqlite==0.18.0
altair==5.2.0
annotated-types==0.6.0
anthropic==0.21.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
BCEmbedding==0.1.3
bcrypt==4.1.2
beautifulsoup4==4.12.3
bitsandbytes==0.43.0
bleach==6.0.0
blinker==1.7.0
boto3==1.34.84
botocore==1.34.84
brotlipy==0.7.0
build==1.2.1
cachetools==5.3.0
certifi==2024.2.2
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
chardet @ file:///tmp/build/80754af9/chardet_1607706746162/work
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.7
cmake==3.26.0
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
conda==4.10.3
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262148928/work
contourpy==1.0.7
cpm-kernels==1.0.11
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
cycler==0.11.0
dataclasses-json==0.6.4
datasets==2.18.0
debugpy==1.6.6
decorator==5.1.1
deepdiff==7.0.1
deepspeed==0.14.0
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docker==6.1.3
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docstring-parser==0.16
einops==0.5.0
emoji==2.11.1
evaluate==0.4.1
executing==1.2.0
fairscale==0.4.13
faiss-gpu==1.7.2
fastapi==0.110.0
fastjsonschema==2.16.3
ffmpy==0.3.2
filelock==3.14.0
filetype==1.2.0
fire==0.6.0
flask==3.0.2
flatbuffers==24.3.25
fonttools==4.39.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
func-timeout==4.3.5
fuzzywuzzy==0.18.0
galore-torch==1.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.16.2
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.63.0
gradio==4.21.0
gradio-client==0.12.0
graphlib-backport==1.1.0
greenlet==3.0.3
grpcio==1.62.1
h11==0.14.0
hjson==3.1.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.22.1
humanfriendly==10.0
idna==3.7
immutabledict==4.2.0
importlib-metadata==7.0.0
importlib-resources==5.12.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.11
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client==8.0.3
jupyter-core==5.2.0
jupyter-events==0.6.3
jupyter-lsp==2.2.5
jupyter-server==2.4.0
jupyter-server-fileid==0.8.0
jupyter-server-terminals==0.4.4
jupyter-server-ydoc==0.6.1
jupyter-ydoc==0.2.3
jupyterlab==4.1.8
jupyterlab-language-pack-zh-cn==3.6.post0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.27.1
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
kubernetes==29.0.0
langchain==0.1.17
langchain-anthropic==0.1.4
langchain-chroma==0.1.0
langchain-community==0.0.36
langchain-core==0.1.49
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.36
Levenshtein==0.25.1
lit==15.0.7
llama-index-cli==0.1.12
llama-index-embeddings-openai==0.1.9
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-llms-openai==0.1.16
llama-index-multi-modal-llms-openai==0.1.5
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.19
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.2
llamaindex-py-client==0.1.19
# Editable install with no version control (llmtuner==0.6.3.dev0)
-e /root/LLaMA-Factory/src
ltp==4.2.13
ltp-core==0.1.4
ltp-extension==0.1.13
lxml==5.2.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.21.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mmengine-lite==0.10.3
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.6.0
networkx==3.0
ninja==1.11.1.1
nltk==3.8
notebook==6.5.3
notebook-shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.14.3
OpenCC==1.1.7
-e git+https://github.com/open-compass/opencompass.git@53fe3904540c049e259492016942cbd39f13a7a2#egg=opencompass
opencv-python-headless==4.9.0.80
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.3
peft==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil-resolve-name==1.3.10
platformdirs==4.2.0
portalocker==2.8.2
posthog==3.5.0
prettytable==3.10.0
proces==0.1.7
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pulsar-client==3.4.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrawlers==1.1.6
pydantic==2.6.4
pydantic-core==2.16.3
pydeck==0.9.0
pydub==0.25.1
pyext==0.7
Pygments==2.14.0
pymongo==4.6.3
PyNaCl==1.5.0
pynvml==11.5.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.9
pypdf==4.2.0
PyPika==0.48.9
pypinyin==0.51.0
pyproject-hooks==1.0.0
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-dotenv==0.21.1
python-iso639==2024.4.27
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-magic==0.4.27
python-multipart==0.0.9
pytz==2022.7.1
PyYAML==6.0.1
pyzmq==25.0.1
rank-bm25==0.2.2
rapidfuzz==3.8.1
referencing==0.35.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rouge==1.0.1
rouge-chinese==1.0.3
rouge-score==0.1.2
rpds-py==0.18.0
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016699510/work
ruff==0.3.7
s3transfer==0.10.1
sacrebleu==2.4.2
safetensors==0.4.2
scikit-learn==1.2.1
scipy==1.10.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.2.0
sentry-sdk==2.0.1
setproctitle==1.3.3
shellingham==1.5.4
shtab==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==2.0.29
sse-starlette==2.0.0
stack-data==0.6.2
starlette==0.36.3
streamlit==1.34.0
striprtf==0.0.26
supervisor==4.2.5
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.4.0
terminado==0.17.1
texttable==1.7.0
threadpoolctl==3.4.0
tiktoken==0.6.0
timeout-decorator==0.5.0
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch @ http://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp38-cp38-linux_x86_64.whl
torchvision @ http://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp38-cp38-linux_x86_64.whl
tornado==6.2
tqdm==4.66.2
traitlets==5.9.0
transformers==4.39.1
transformers-stream-generator==0.0.4
triton==2.0.0
trl==0.8.1
typer==0.11.0
typing-extensions==4.10.0
typing-inspect==0.9.0
tyro==0.7.3
tzdata==2024.1
unstructured==0.11.8
unstructured-client==0.22.0
uri-template==1.2.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.26.1
wandb==0.16.6
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==0.59.0
websockets==11.0.3
werkzeug==3.0.1
widgetsnbextension==4.0.5
wrapt==1.16.0
xxhash==3.4.1
y-py==0.5.9
yapf==0.40.2
yarl==1.9.4
ypy-websocket==0.8.2
zipp==3.15.0
